@import './colors';

// Styles For TSH-Header-MainHeader


.tsh-main-header {
    background-blend-mode: overlay;
    background-color: initial !important;
    background-repeat: no-repeat !important;
    background: url("../../Images/learnInOfficeGroup.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .tsh-faded-mask {
        background: linear-gradient(to top left, #000000bb 69%, rgba(0, 0, 0, 0.794) 100%) !important;
        background-size: cover;
        background-attachment: fixed;
        min-height: 670px;
    }

    h1 {
        font-weight: bold;
        font-size: 43px;
    }

    p {
        color: $theme_secondary;
        font-weight: bold;
        font-size: 16px;
        line-height: 2;
    }

    .tsh-padder {
        margin: auto;
        padding-top: 25%;
        max-width: 800px;
    }
}

.tsh-search-bar {
    padding: 25px 25px;
    border-radius: 5px;
    background-image: url('../../Images/searchicon.png');
    background-position: 97% 25px;
    background-repeat: no-repeat;

    &::placeholder {
        color: gray;
        font-size: 17px;
    }

    &:after {
        content: "\b12";
    }
}

.tsh-top-nav {
    position: fixed;
    top: 0;
    padding-top: 15px;
    width: 100%;

    img {
        width: 110px;
        height: 60px;
        padding: 10px;
        margin: 10px 70px 10px 60px;
    }

    a:not(.w3-button) {
        border-bottom: 0px solid;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            border-bottom: 1px solid;
            transition: all 0.4s;
        }

        i {
            font-size: 13px;
        }
    }

    .tsh-signup-btn {
        background-color: #fff;
        color: $theme_primary;
        padding: 10px 35px;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid white;
        transition: all 0.3s;
        margin-left: 20px;
        border-radius: 5px;

        &:hover {
            transition: all 0.3s;
            background: transparent !important;
            color: white !important;
        }
    }

    .tsh-name-tag {
        background: rgb(255, 255, 255);
        color: #524307;
        border-radius: 25px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 6px;
        padding-left: 0px;
        font-weight: bold;

        img {
            background: transparent;
            width: 50px;
            height: 50px;
            margin: -5px !important;
            border-radius: 50%;
        }
    }

}

.tsh-modal {
    background: rgba(0, 0, 0, 0.67) !important;
    color: white;
}

/* 
    
*/